section.about{
	p.top-p{
		margin-bottom: 70px; 
	}
	h2{
		font-size: 2.3em;
		text-align: center;
		margin-bottom: 40px; 
	}
	div.grid{
		max-width: 90%;
		margin: 0 auto;

		div.grid-1-2{
			margin-bottom: 40px; 
			padding-left: 90px;
			padding-right: 30px;

			h3{
				font-size: 1.3em;
				margin-bottom: 5px;
				text-align: left;
			}
			p{
				font-size: 14px;
				margin: 0;
			}


			div.position-icon{
				//margin-right: 10px; 
				width: 70px;
				height: 70px;
				border: 1px solid #E0DED7;
				float: left;
				margin-left: -80px;
				margin-top: 25px;
				border-radius: 100%;
				box-shadow: 0px 2px 3px rgba(black,0.35);

				&.abortion{
					background: #F6F3E9 url("../images/abortion-icon.png") no-repeat center center / 50% auto;
				}
				&.contraception{
					background: #F6F3E9 url("../images/contraception-icon.svg") no-repeat center center / 50% auto;
				}
				&.euthanasia{
					background: #F6F3E9 url("../images/euthanasia-icon.svg") no-repeat center center / 50% auto;
				}
				&.stem-cells{
					background: #F6F3E9 url("../images/stem-cells-icon.svg") no-repeat center center / 50% auto;
				}
				&.partial-birth-abortion{
					background: #F6F3E9 url("../images/partial-birth-abortion-icon.svg") no-repeat center center / 50% auto;
				}
				&.post-abortion-aftercare{
					background: #F6F3E9 url("../images/post-abortion-aftercare-icon.svg") no-repeat center center / 50% auto;
				}
				&.death-penalty{
					background: #F6F3E9 url("../images/death-penalty-icon.svg") no-repeat center center / 50% auto;
				}
				&.adoption{
					background: #F6F3E9 url("../images/adoption-icon.svg") no-repeat center center / 50% auto;
				}
			}
		}
	}

	h3{
		font-size: 2.4em;
		text-align: center;
		margin-bottom: 20px; 
	}


	.stand-with-us {
		background: rgb(250,250,250);
		height: 300px;
		border: 1px solid rgb(200,200,200);
		text-align: center;
		padding-top: 50px;
		margin-top: 50px;
		margin-bottom: 50px;
	}


	p{
		&.history{
			width: 600px;
			margin: 0 auto 30px;
		}
	}
	div.bottom-history-row{
		display: table;
		margin: 0 auto;

		p.history-bottom{
			width: 400px;
			display: inline-block;
			margin: 20px 0 0px;
		}
		div.gold-frame.silent-img{
			display: inline-block;
			width: 300px;
			height: 120px; 
			background: url("../images/our-history-silent.png") no-repeat center center / 90% auto;
			vertical-align: top;
		}
	}
	div.our-staff{
		border-top: 1px solid #D6D6D6;
		border-bottom: 1px solid #D6D6D6;
		padding-top: 80px;
		padding-bottom: 20px; 
		margin-top: 80px; 
		background-color: $bg-grey;
		box-shadow: 0px 135px 6px -135px rgba(black,0.5);//shadow over board members div below
		h2{
			margin-bottom: 90px;
			font-style: italic; 
		}
		div.accordion{
			margin-bottom: 2px;
			width: 70%; 
			span.anchor{
				&:target{
					&+a.accordion-button-anchor{
						&:hover{
    					cursor: default;
		    		}
						div.accordion-staff{
							@include background-image(linear-gradient(to bottom, rgba(253,247,222,1), rgba(226,217,186,1)));
							border: 1px solid #A598A9;
							border-radius: 4px;
							padding: 0px 110px;
							margin: 40px auto 0px;  
							box-shadow: 0px 2px 3px rgba(193,193,193,0.5);
							height: 100px; 
							figure{
								position: relative;
								top: -30px;
							}
							p.accordion-staff-name{
								margin-top: 20px; 
							}
						}
					}
				}
			}
			a.accordion-button-anchor{
				div.accordion-staff{
					background-color: #F2EFF7;
					border-bottom: 1px solid #CAC8C8;
					padding: 20px 110px;
					position: relative;
					z-index: 2; 
					&:after{//clearfix
						content: "";
					  display: table;
					  clear: both;
				  }
					figure{
						border-radius: 100px;
						border: 1px solid white;
						box-shadow: 0px 0px 0px 2px #BABABA;
						margin: 0px; 
						width: 166px;
						height: 166px;
						float: left;
						overflow: hidden;  
						img{
							display: block;
							width: 100%;
							height: auto;  
						}
					}
				}
				p.accordion-staff-name,p.accordion-staff-title{
					margin: 0px 0px 0px 190px;
				}
				p.accordion-staff-name{
					font-size: 1.6em; 
					margin-top: 55px; 
				}
				p.accordion-staff-title{
					font-style: italic;
					font-size: 1.2em;
				}
			}
			div.hidden-content{
				width: 96%; 
				top: -70px;
			}
		}
	}
	div.more-staff{
		position: relative;
		z-index: -1;
		top: -10px;  
		width: 660px; 
		margin: 0 auto;
		border: 1px solid #C9C7BF;
		border-radius: 4px;
		padding: 20px 70px; 
		background-color: #FFFEFA; 
		div.board-of-directors{ 
			h3{
				text-align: center;
				font-style: italic;
				font-size: 1.8em; 
				border-bottom: 1px solid #E2E0E0;
				padding: 10px 0px 4px;  
			}
			div.members{
				@include column-count(2);
				div.board-member{
					margin-bottom: 10px; 
					p{
						margin: 0px;
					}
					p.name{
						font-size: 1.2em; 
					}
					p.title{
						font-style: italic;
						color: $lighter-text;
						font-size: 1.1em;
					}
				}
			}
		}
	}
}