section.archives{
	div.pagination{
		display: table;
		margin: 0 auto;
		a,span{
			margin-right: 5px; 
		}
		a{
			&:hover{
			text-decoration: underline;
			} 
		}
		span{
			//text-decoration: underline;
		} 
	}
}