footer{
	background-color: #2D2A58;
	//box-shadow: inset 0px 3px 6px rgba(black,1);
	box-shadow: 0px -3px 0px #2D2A58;
	border-top: 2px solid white;
	margin-bottom: 3px; 
	font-size: 0.9em;

	div.grid{
		padding: 10px;

		div.grid-box{
			border-right: 1px solid rgba(196,196,196,0.24);
			padding: 20px; 
			color: white;
			height: 80px;
			float: left;

			&:last-of-type{
				border-right: none; 
			}

			&.brand{
				width: 20%;
				p{
					line-height: 1;
				}
			}

			&.address{
				width: 20%;

				address{
					font-style: normal;
					margin: 0 auto;
					display: table;
					line-height: 1.2;
				}
			}

			&.contact{
				width: 29%;
				line-height: 1.2;

				a.underline{
					&:hover{
						text-decoration: underline;
					}
				} 
			}

			&.social{
				width: 31%;
			}

			p{
				margin: 0 auto;
				width: 100px;

				&.logo{
				position: relative;
				padding-left: 5px;
					&:before{
						content: "";
						background: url("../images/logo-flame-white.svg") no-repeat center center / 100% auto;
						width: 25px;
						height: 35px;
						position: absolute;
						top: 0px;
						left: -25px;
					}
				}
				&.logo-bottom{
					font-size: 1.2em;
					letter-spacing: 1.5px;
					padding-left: 7px;
				} 
			} 
			a{
				&.contact{
					float: left;
				}
				color: white;
				div.icon.fa-envelope-o{
					padding: 8px 0px 0px 8px;
				}
				&.terms-privacy{
					font-size: 0.8em;
						&:hover{
						text-decoration: underline;
					}
				}
			}
			div.icon-row{
				margin: -4px auto 9px;
				display: table;
			}

			div.icon {
				height: 35px;
				width: 35px;
				font-size: 18px;
			}

		}
	}
	div.inset-prayer{
		background-color: #787594;
		@include background-image(linear-gradient (to top, rgba(black,0.06), rgba(black,0.44)));
		color: #E7E7E7;
		margin: 0 auto;
		padding: 25px 200px 20px; 
		font-size: 1em;
		border-radius: 0px;
		border-top: 1px solid rgba(white,0.48);
		box-shadow: inset 0px 10px 5px -7px rgba(black,0.5);

		h3{
			margin: 0 auto 15px;
			display: table;
			color: rgba(white,0.52);
			letter-spacing: 1.3px;
			font-size: 0.75em;
			text-transform: uppercase;

			&:last-of-type{
				margin: 5px auto 0px;
			} 
		}
		div.sentences{
			margin: 0 auto;
			@include column-count(2);			
			font-size: 0.85em;
			p{
				padding-left: 1.5em;
				text-indent: -1.5em;
				margin: 0px 0px 10px;
			}
		}  
	}
}