footer{
	background-color: #2D2A58;
	box-shadow: inset 0px 3px 6px rgba(black,1);
	div.grid{
		padding: 20px;
		div.grid-1-4{
			border-right: 1px solid $grey-border;
			padding: 20px; 
			color: white;
			&:last-of-type{
				border-right: none; 
			}
			a{
				color: white;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	div.inset-prayer{
		background-color: #7D7AA6;
		color: #E7E7E7;
		width: 90%;
		margin: 0 auto;
		padding: 10px; 
		font-size: 0.9em;
		h3{
			margin: 0 auto;
			display: table;
			color: rgba(white,0.52);
		}  
	}
}