header{
	position: relative;
	z-index: 0; 
	nav{
		width: 100%; 
		background-color: #60517F; 
		border-top: 1px solid #807DA9;
		border-bottom: 1px solid #807DA9;
		box-shadow: 0px 5px 4px -2px rgba(black,0.7);
		padding: 7px 12px; 
		position: relative;
		z-index: 1; //show shadow over div.hero-img
		div.ribbon{
			background-color: #F1CE18;
	    height: 80px;
	    position: absolute;
	    left: 10px;
	    top: -4px;
	    width: 60px;
	    box-shadow: -6px 0px 10px -7px rgba(black,0.5),
	    						6px 0px 10px -7px rgba(black,0.5),
	    						inset 0px 0px 3px 1px rgba(white,1);
	    border-top: 2px solid lighten(#B9A74E,15%);
	    border-right: 2px solid #B9A74E;
	    border-bottom: 2px solid #B9A74E;
	    border-left: 2px solid #B9A74E;
	    &:active{
	    	background-color: darken(#F1CE18,3%); 
	    }
			&:before{
				background-color: rgba(white,1);
				border-bottom-right-radius: 100%; 
		    content: "";
		    height: 42px;
		    position: absolute;
		    right: 7px;
		    top: 55px;
		    @include transform(rotate(45deg));
		    width: 42px;
		    box-shadow: inset 0px 18px 0px -15px #B9A74E,
										inset 18px 0px 0px -15px #B9A74E,
										inset 0 40px 6px -35px rgba(black, 0.5),
		    						inset 40px 0px 6px -35px rgba(black, 0.5);
			} 
			p{
				font-style: italic;
				hyphens: none;
				font-size: 0.8em;
				color: #252553;
				text-shadow: 0px 1px 1px rgba(white,1);
				text-align: center;
				padding: 0px 5px; 
				margin-top: 12px;
				position: relative;
				top: 0px;
				left: 0px;
				&:hover{
		    	cursor: pointer;
		    }
			}	  
		}
		div.buttons-left,div.buttons-right{
			a{
				display: table;
				float: left;
				margin-right: 5px; 
				&.menu{
  				margin-left: 12px; 
  				margin-right: 0px; 
  			}
				&:active{
					position: relative;
					top: 1px;
				}
				div.button{
					color: white;
					font-size: 1.05em;
					letter-spacing: 0.8px;
					text-shadow: 0px 1px 0px rgba(black,1);
					padding: 8px 10px;
					background-color: rgba(24,22,48,0.4);
					border: 1px solid rgba(225,213,241,0.53);
					border-radius: 4px;
					box-shadow: 0px 2px 2px 0px rgba(black,0.5);
					@include background-image(
      linear-gradient(to bottom, rgba(white, 0.09), rgba(black, 0.11)));
      		&.fa{
      			font-size: 1.45em;
      			padding: 5px 10px; 
      		}
     		&:hover{
     			@include background-image(
      linear-gradient(to bottom, rgba(white, 0.0), rgba(black, 0.08)));
     			}
				}
			}
		}
		div.buttons-left{
			float: left;
			margin-left: 70px; //make room for ribbon 
		}
		a.logo{
			display: table;
			margin: 0 auto;
			position: absolute;
			left: 45%;
			h1{
				margin: 0 auto;  
				font-size: 1em;
				color: white; 
				text-shadow: 0px 1px 0px rgba(black,0.5);
				position: relative;
				padding-left: 5px;
				&:first-of-type{
					&:before{
						content: "";
						background: url("../images/logo-flame-white.svg") no-repeat center center / 100% auto;
						width: 24px;
						height: 32px;
						position: absolute;
						top: 3px;
						left: -25px; 
					}
				}
				&:nth-of-type(2){
					font-size: 1.2em;
					letter-spacing: 2px; 
				}
			}
		}
		div.buttons-right{
			float: right;
		}
	}
	div.hero-img{
		overflow: hidden;
		img{
			width: 100%;
			height: auto; 
			position: relative;
			display: block;
		}
		div.trending-issues{
			position: absolute;
			top: 38%;
			right: 8%;
			width: 225px;
			background-color: rgba(white,0.5);
			h2,a.all-issues{
				background-color: rgba(black,0.06); 
				color: #393939;
				text-shadow: 0px 1px 0px rgba(white,0.33);
				text-align: center;
				padding: 16px 0px;
			} 
			h2{
				font-size: 1.45em;
			}
			ul{
				padding: 20px 20px 20px 40px;
				li{
					margin-bottom: 10px;
					padding-left: 20px;
					a{
						color: #585858;
						font-size: 0.9em; 
						span{
							&:hover{
								text-decoration: underline;
							}
						}	  
					}
				}
			}
			a.all-issues{
				display: block;
				padding: 10px 0px; 
				span{
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
	/*
	div.logo{
		position: absolute;
		bottom: 2%;
		left: 2%;  
		width: 100px;
		height: 50px;
		background: url("../images/logo-text-white.png") no-repeat center center / 100% auto;  
	}
	*/
}