section.lead-life-ministry{
	p.top-p{
		width: 60%; 
	}
	div.divider{
		width: 60%;
		margin: 40px auto;
		background-color: #F4F1F5;
		border: 1px solid #D2CBD5;
		padding: 40px 0px; 
		p{
			display: table;
			margin: 0 auto;	
			font-size: 1.2em;
		}
	}
}