section.need-help{
	div.help-wrapper{
		border-top: 1px solid $border;
		border-bottom: 1px solid $border;
		width: 440px;
		margin: 60px auto;
		padding: 18px 50px 15px; 
		position: relative;

		p.next-to-button{
			width: 160px;
			font-size: 1.05em;
			display: inline-table; 
			margin: 0 15px 0 8px;
		}
		a.button{
			vertical-align: top;

		}
	}
	div.list-with-image{
		margin: 0 auto 70px;
		display: table;
		background-color: #F4F1F5;
		border: 1px solid #D2CBD5;
		border-radius: 4px;
		overflow: hidden;

		div.list-img{
			@include background( 
				    linear-gradient(
				      rgba(white,0.2) 10%, 
				      rgba(white,0)
				    ),
				    url('../images/need-help-list.jpg') no-repeat center center / 100% auto);
			width: 190px;
			height: 190px;
			float: left;
			box-shadow: 2px 0 6px -2px black;
			position: relative;
			z-index: 2;
		}
		ul{
			padding: 10px 40px;
			max-width: 510px;
			float: left;
			list-style: none;
			line-height: 1.2;

			li{
				font-size: 1.2em;
				margin-bottom: 20px;
				position: relative;

				//padding-left: 8px; 
				&:first-of-type{
					margin-top: 15px; 
				}

				&:before{
					content: "";
					width: 0; 
					height: 0; 
					border-top: 8px solid transparent;
					border-bottom: 8px solid transparent;
					border-left: 8px solid #8D7BA8;
				    top: 2px;
				    left: -18px;
				    position: absolute;
				}
			}
		}
	}
	p{
		width: 530px;
		margin: 20px auto; 
	}
}