section.pregnant{
	padding-bottom: 0px; 
	h2.msg{
		padding: 20px 0px;
		text-align: center;
		width: 670px;
		margin: 0 auto 50px;
		border: 1px solid #A598A9;
		border-radius: 6px;
		@include background-image(linear-gradient(to bottom, rgba(253,247,222,1), rgba(226,217,186,1)));  
		box-shadow: 0px 2px 3px rgba(193,193,193,0.5);
		font-style: italic;
		font-size: 1.3em;	
		position: relative;

		&:after{//portrait
			content: "";
			position: absolute;
			width: 126px;
			height: 126px;
			top: -35px;
			left: 80px; 
			border: 1px solid #BABABA;
			border-radius: 100%;
			box-shadow: inset 0px 0px 0px 1px rgba(white,1); 
			background: white url("../images/portrait-georgette.jpg") no-repeat center center / 100% auto; 
		}
	}
	p.msg-p{
		width: 470px;
		margin: 0 auto; 
		position: relative;
		&:before{
			content: "“";
			color: #F7F5F3;
			font-size: 13em;
			font-family: georgia;
			position: absolute;
			top: -50px; 
			left: -90px; 
		}
	}
	div.development-slider{
		height: 426px;
		padding: 30px 0px;
		margin: 100px 0px;  
		@include background(
			linear-gradient(
			rgba(93,70,127,0.5),
			rgba(93,70,127,0.5)
			),
			
			url('../images/development-slider.jpg') no-repeat center center / 100% auto); 
		div.top{
			display: table;
			margin: 0 auto 16px;
			div.slider-icon{
				float: left;
				background: url('../images/abortion-icon.png') no-repeat center center / 100% auto;
				width: 47px;
				height: 58px;  
				margin-right: 10px; 
			}
			h2{
				display: inline-block;
				color: white;
				text-shadow: 0px 2px 4px rgba(black,0.5);
				font-size: 1.6em;
				font-style: italic;
			}
		}
		div.inner-content{ 
	    width: 82%; 
	    margin: 0 auto;
	    border-top: 1px solid rgba(black,0.25);
	    border-bottom: 1px solid #4E4E4E;
	    padding: 20px 40px 0px; 
	    @include background-image(
	      linear-gradient(
	        to right,
	        rgba(black,0),
	        rgba(black,0.25),
	        rgba(black,0)
	        ));
	     .soliloquy-viewport{
	     	width: 102% !important; //make farthest slide's box-shadow visible
	     	margin-left: -9px; //pull .soliloquy-viewport back into center 
	     	height: 250px !important; //important statement required to maintain height on slide change 
	     	padding: 6px; //allow box-shadow on .soliloquy-item to be visible
	     	.soliloquy-item{
	     		border: 1px solid #916417;
	     		box-shadow: 0px 0px 0px 1px rgba(white,0.66),
							0px 4px 6px 0px rgba(black,0.5),
							0px 0px 15px 2px rgba(white,0.5) inset;
	     		.soliloquy-image{
	     			position: relative;
	     			z-index: -1;  
	     		}
	     	}
		    .soliloquy-caption{
		    	bottom: -40px; 

		    	.soliloquy-caption-inside{
		    		background: rgba(black,0);
		    		padding-bottom: 0;
		    		line-height: 1.1;
		    	}
		    }
	    }
	    .soliloquy-next,.soliloquy-prev{
	     	margin-top: -52px; 
	     	width: 52px;
	    	height: 52px;
	     }
	    .soliloquy-next{
	    	right: -60px; 
	    	background: url('../images/slider-arrow-right.png') no-repeat center center / 60% auto;
	    }
	    .soliloquy-prev{
	    	left: -60px; 
	    	background: url('../images/slider-arrow-left.png') no-repeat center center / 60% auto;
	    }
	  }
	}
	p.contact-text{
		text-align: center;

		&.title {
			font-size: 1.5em;
			margin: 60px auto 10px;
		}
	}
	div.considering-abortion{
		div.grid{
			padding-top: 20px; 
			width: 80%;
			margin: 0 auto; 
		}
		a.considering-button{
			display: table;
			margin: 0 auto;
			box-shadow: 0px 2px 4px 2px rgba(black,0.5);

			&:active{
				position: relative;
				top: 1px;
				box-shadow: 0px 1px 2px 1px rgba(black,0.5);
			}

			div.considering-button{
				width: 298px;
				height: 254px;
				display: table-cell;
				vertical-align: middle;
				box-shadow: 0px 0px 0px 1px rgba(white,1),
										0px 0px 0px 2px #BABABA;
				border-radius: 2px;
				border: 1px solid #979797;
				&.options{
					background: url('../images/pregnant-options.jpg') no-repeat center center / 106% auto;
				}
				&.voices{
					background: url('../images/pregnant-voices.jpg') no-repeat center center / 114% auto;
				}
				&.contact{
					width: 428px;
					height: 156px;  
					background: url('../images/pregnant-contact.jpg') no-repeat center center / 130% auto;
					padding: 45px 0px; 
				}

				&:hover {
					opacity: 0.9;
				}

				div.text{
					padding: 4px 0px; 
					@include background-image(linear-gradient(
						to right,
						rgba(black,0),
						rgba(black,0.6),
						rgba(black,1),
						rgba(black,0.6),
						rgba(black,0)
						));
					&.contact{
						position: relative;
						width: 100%;
						padding: 8px 0px;  
						div.fa.fa-envelope-o{
							position: absolute;
							top: 44%;
							left: 50%;
							@include transform(translateX(-50%) translateY(-50%));
							font-size: 3em;
							color: rgba(125,125,125,0.5);
							text-shadow: 0px 1px 0px rgba(white,0.5); 
						}
					}
					p{
						color: white;
						margin: 0 auto;
						text-align: center;
						&.top{
							font-style: italic;
						}
						&.bottom{
							
						}
						&.left,&.right{
							width: 40%;
							font-size: 0.95em;
							font-style: italic;
							line-height: 1.1;
							text-align: left; 
						}
						&.left{
							float: left;
							padding-left: 15px; 
						}
						&.right{
							float: right;
							padding-right: 15px; 
						}
					}
				}
			}
		}
	}
	div.colored-section-break{
		margin-top: 80px;
		margin-bottom: 0px;  
	}
	div.subscribe{
		background-color: #FCFCFC; 
		padding-top: 40px; 
	}
}