section.single-post{
	padding-bottom: 0px; 
	div.post{
		width: 80%;
		//background-color: #FFFEFA;
		margin: 0 auto;
		//border: 1px solid #DCD8CE;
		//border-radius: 4px;  
		padding: 40px 70px 20px;
		position: relative;
		time.circle {
			position: absolute;
			top: 0px;
			left: -80px;
			box-shadow: 0px 1px 3px rgba(black,0.5); 
		}
		h1.title{
			font-size: 2.3em;
			margin: 0 auto 5px;
			max-width: 540px;
			text-align: center; 
		}
		time.pub-date{
			display: table;
			margin: 0 auto;
			color: $lighter-text;
			&.bottom{
				margin: 30px 0px 0px;
			}
		}
		div.img{
			margin: 0 auto; 
			border: 8px solid white;
			box-shadow: 0px 2px 4px 1px rgba(black,0.4);
			img{
				display: block;
				width: 100%;
				height: auto;  
			}
		} 
		div.line{
			border-bottom: 1px solid $border;
			height: 1px;
			width: 100%;
			margin: 30px auto; 
			&.bottom{
				margin: 10px 0px 0px; 
			}
		}
	}
}
section.single-post.qa div.post {
	background-color: rgba(black,0.02);
	border-radius: 6px;

	h1.title {
		font-size: 1.5em;
	}

	time.circle {
		display: none;
	}

	.content {
		font-size: 1.2em;

		p:first-of-type:before{
			content: "Q | ";
			color: #FF0000;
		}

		span[id^="more-"] {
			display: block;
			position: relative;
			overflow: hidden;
		}
	}

	.pub-date.bottom {
		display: none;
	}
}

section{
	&.latest-posts{
		padding-top: 5px; 
			h2{
			text-align: center;
			font-size: 2.4em;
			margin: 30px 0px; 
		}
	}
}