section.take-action{
	div.grid{
		div.grid-1-2, div.grid-1-3{
			p.box-title{
				font-size: 1.6em;
				font-style: italic;
				text-align: center;
				color: $lighter-text;
				margin: 5px;
			}

			div.box {
				padding: 40px 64px;
				border-radius: 6px;
				border: 1px solid #BABABA;	
				@include background (
					linear-gradient(to bottom, rgba(white,0.5) 10%, rgba(white,0) 50%, rgba(white,0)),
					#F1F0EA
				);
			}
		}

		div.grid-1-2{
			&:first-of-type {
				padding-left: 120px
			}
			&:last-of-type {
				padding-right: 120px;
			}
			div.box {
				width: 260px;
				height: 240px;
				margin: 0 auto;
				padding: 40px 64px;
			}
		}
		div.grid-1-3{
			&:first-of-type {
				padding-left: 60px
			}
			&:last-of-type {
				padding-right: 60px;
			}
			div.box{
				width: 230px;
				height: 240px;
				margin: 0 auto;
				&.pray{
					box-shadow: inset 2px solid white;
					@include background (
						linear-gradient(to bottom, rgba(white,0.5) 10%, rgba(white,0) 50%, rgba(white,0)),
						url('../images/take-action-pray.jpg') no-repeat -90px center / auto 100%,
						#F1F0EA
					);
				}
				&.interest{
					padding: 12px 25px;
				}
				&.activity{
					padding: 50px 35px;
				}

				label{
					display: block;
					line-height: 1.8;
					padding: 4px 30px;
					border-radius: 3px;

					&:hover{
						background-color: rgba(black,0.03);
					}
					&:active{
						background-color: rgba(black,0.08);
					}

					input{
						width: 20px;
						height: 20px;  
						vertical-align: middle;
					}
				}
			}
		}
	}
	div.what-can-i-do{
		background-color: $bg-grey;
		border-bottom: 1px solid #D6D6D6;
		padding: 55px 0px; 
		position: relative;
		margin-bottom: 70px; 
		&:before{
			content: "";
			position: absolute;
			bottom: -36px;
			left: 50%;
			@include transform(translateX(-50%) rotate(45deg));
			width: 70px;
			height: 70px;
			background-color: $bg-grey;
			border-right: 1px solid #D6D6D6;
			border-bottom: 1px solid #D6D6D6;
		}
	}
	div.you-can{
		ul{
			background-color: #F4F1F5;
			padding: 40px 80px;
			border: 1px solid #D2CBD5;  
			width: 616px;
			margin: 0 auto 90px; 
			border-radius: 4px;
			li{
				list-style: none;
				line-height: 1.3;
				margin-bottom: 10px;
				position: relative;

				&:before{
			        border-bottom: 8px solid transparent;
			        border-left: 8px solid #8d7ba8;
			        border-top: 8px solid transparent;
			        content: "";
			        height: 0;
			        left: -18px;
			        position: absolute;
			        top: 2px;
			        width: 0;  
			    }  
			}
		}
	}
}