section{
	a.priests-pastors-link{
		display: table;
		margin: 0 auto;
	}
	div.pray-for-life{
		background-color: rgba(108,156,116,0.13);
		width: 80%;
		height: 200px;
		margin: 0 auto;  
		h2{
			font-size: 1.5em;
			display: table;
			margin: 0 auto;		
		}
		p{
			color: $lighter-text;
		}
	}
}