@import "compass/css3";
@import "normalize";
@import "bits";
@import "widgets";

html {
	font-family: "SortsMillGoudy", serif;
  font-size: 16px;
  line-height: 1;
  text-rendering: optimizeLegibility; // Chrome & Safari have bad kerning otherwise (fall '15)
 }

.page-wrap{
	max-width: 960px;
	margin: 0 auto;
}

a{//circle icon style
	div.icon{
		display: inline-block;
		width: 40px;
		height: 40px; 
		color: #89765C;
		background-color: #F5E3BF;
		@include background-image(linear-gradient (to bottom, rgba(white,0.5), rgba(191,161,140,0.38)));
		border: 1px solid #A69370; 
		box-shadow: inset 0px 0px 4px 1px rgba(white,0.75);
		text-shadow: 0px 1px 0px rgba(white,1);
		border-radius: 100%;
		padding: 10px;
		font-size: 1.3em;
		margin-right: 10px;
		&.facebook{
			padding-left: 12px; 
		}
		&:active{
			position: relative;
			top: 1px;
		}
	}
}


section{
	padding: 80px 0px;
}
@import "header";

//page styles here
@import "home";
//end page styles

@import "footer";
